body {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.contenedor-blog {
  background: rgba(31,195,241,0.3);
}

.encabezado h1, h4 {
    color: #FFFFFF;
}

h6 {
  color: #6003F1;
}

.card-section {
  border-right-style: dotted;
  border-color: #ffffff;
  border-width: 1px;
}

.card {
  background: none;
}

.slogan {
  text-align: right;
  font-size: 20px;
}

.callout {
  margin: 7px;
}

.bloque-izquierda {
  background: #FFED57;
}

.bloque-derecha {
 background: #91d0bb;
 /*#C19EF6;*/
}

.column-favorito, .column-historial {
  margin-top: 30px;
}

.input-group-label {
  background: #6003F1;
  color: #FFFFFF;
}

.side-item {
  border: 1px solid #6003F1;
}

#favorito img {
  height: 80px;
}

.historial-link{
  padding: 10px;
}
